.signup-wrapper {
  margin: 10vh auto;
  width: 17rem;
  text-align: center;
}

.signup-form {
  font-family: "Inter", 'NotoSansKR', sans-serif;
  display: flex;
  flex-direction: column;
  
  text-align: center;
  margin-top: 50px;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 90px 40px 55px 40px;
  box-shadow: rgba(0,0,0,0.2) 0 0 10px;

  font-size: 16px;
}

.logo a { /*common.css 에 넣을까?*/
  justify-content: center;
}

.signup-form label {
  font-size: 14px;
  text-align: left;
  margin: 1.2em 0 9px;
}

.signup-form input {
  padding: 8px 12px;
  border-radius: 0.25rem;
  height: 40px;
  line-height: 24px;
  outline: 0;
}

/* 밑에 나타났다가 사라졌다가 하자 */
.error-message {
  display: none;
  color: red;
  font-size: 11px;
  text-align: right;
  margin: 1px;

}

.ok-message {
  display: none;
  color:rgb(72, 144, 0);
  font-size: 11px;
  text-align: right;
  margin: 1px;
}

.signup-form button {

  margin-top: 1.2em; 
  outline: none;
  border: none;
  border-radius: .3em;
  padding: .6em 1.3em;
  font-size: 1em;
}
.signup-form button:hover{
  background: rgba(112, 112, 112, 0.2);
}

/* .signup-form a:last-child {
  width: 100%;
  border-top: 1px rgba(0,0,0,0.2) solid;
  margin-top: 2em;
  padding-top: .6em;
} */